<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'temp_home.html' %}
<a href="{% url 'home' %}">Home</a>
    <h1>Videos: {{ count }}</h1><a href="{% url 'videoadd' %}">Add a video</a><br>
    {% for video in videos %}
        {{ video.author|linebreaks }}
        {{video.title|linebreaks}}
        Tags:
        {% for tag in video.tags.all %}
            {{ tag.name }}
        {% endfor %}<br>

        {{video.description|linebreaks}}
        <iframe width="710" height="423"
            src="{{ video.url}}">
        </iframe>
        <br>
        ================================
    {% endfor %}
</body>
</html>